* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #14131b, #0f0e17);
  color: #e6e5ea;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.container {
  width: 380px;
}

h2 {
  text-align: center;
  color: #817d92;
  margin-bottom: 20px;
}

.output-box {
  display: flex;
  background: #24232c;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.output-box input {
  flex: 1;
  background: transparent;
  border: none;
  color: #a4ffaf;
  font-size: 18px;
  outline: none;
}

.output-box button {
  background: none;
  border: none;
  color: #a4ffaf;
  cursor: pointer;
  font-weight: bold;
}

.settings {
  background: #24232c;
  padding: 20px;
  border-radius: 8px;
}

.length-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

input[type="range"] {
  width: 100%;
  accent-color: #a4ffaf;
}

label {
  display: block;
  margin: 10px 0;
  cursor: pointer;
}

.strength-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #18171f;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

#bars {
  display: flex;
  gap: 5px;
}

#bars div {
  width: 10px;
  height: 22px;
  border: 1px solid #e6e5ea;
}

#generate {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background: #a4ffaf;
  color: #18171f;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

#generate:hover {
  background: #7cff8f;
}
 

